<section
  class="relative bg-[url('/images/Angelica.jpg')] bg-cover bg-top bg-no-repeat pt-60 pb-32 text-center text-pink-50"
>
  <div class="absolute inset-0 bg-white/20"></div>
  <div class="relative z-10 max-w-4xl mx-auto px-4">
    <h2
      class="text-6xl md:text-7xl font-extrabold text-pink-800 mb-4 flex items-center justify-center gap-4"
    >
      <img
        src="Logos/Taller-de-eli.svg"
        alt="Taller de Eli"
        class="h-50 md:h-100"
      />
    </h2>
    <div
      class="border rounded-xl bg-white/50 py-3 max-w-2xl mx-auto shadow-lg backdrop-blur-[10px]"
    >
      <p class="text-xl md:text-xl text-pink-600 font-semibold">
        Descubre moldes, cursos y creaciones únicas para cada ocasión.
      </p>
    </div>
  </div>
</section>
