---
---
<section
      class="relative min-h-[300px] mask-y-from-80% pt-20 pb-20 overflow-hidden py-16 bg-cover bg-center bg-no-repeat backdrop-blur-sm"
      id="mision-vision"
    >
      <div
        class="fixed top-0 left-0 w-full h-full bg-cover bg-center blur-[100px]"
        style="background-image: url('/src/assets/Fondos/background.svg'); z-index: -10;"
      >
      </div>"
      <div class="max-w-4xl mx-auto px-4">
        <h3 class="text-2xl font-semibold text-center text-pink-800 mb-4">
          Nuestra Mision y Vision
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-15 gap-10">
          <div class="bg-pink-100 rounded-md shadow-sm h-50 mt-10">
              <h3 class="text-xl text-center text-pink-900 mt-4 font-medium">Mision</h3>
          </div>
          <div class="bg-pink-100 rounded-md shadow-sm h-50 md:mt-10">
              <h3 class="text-xl text-center text-pink-900 mt-4 font-medium">Vision</h3>
          </div>
        </div>
      </div>
    </section>