<section
  class="relative min-h-[500px] py-16 mask-b-from-80% overflow-hidden pt-20 pb-20 bg-cover bg-center bg-no-repeat backdrop-blur-sm"
  id="secciones"
>
  <div
    class="fixed top-0 left-0 w-full mask-t-from-90% h-full -z-10 bg-cover bg-center blur-[100px]"
    style="background-image: url('/src/assets/Fondos/background.svg'); z-index: -1;"
  >
  </div>

  <div class="max-w-6xl mx-auto px-6">
    <h3 class="text-4xl z-10 font-semibold text-center mb-12 text-pink-800">
      Explora nuestras secciones
    </h3>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Catalogo -->
      <a href="/catalogo" rel="noopener noreferrer" class="block md:col-span-3">
        <div
          class="rounded-xl backdrop-blur-2xl shadow-lg cursor-pointer h-40 md:h-70"
        >
          <img
            src=""
            alt=""
            class="absolute right-45 mask-r-from-40% top-10 object-contain z-0"
          />

          <div class="relative p-6">
            <h4 class="text-lg text-end font-bold text-pink-700">
              Catálogo de Muñecos
            </h4>
            <p class="text-end font-bold text-pink-900">Explora nuestras creaciones artesanales disponibles o por encargo.</p>
          </div>
        </div>
      </a>

      <!-- Moldes -->
      <a href="/moldes" rel="noopener noreferrer" class="block">
        <div
          class="rounded-xl backdrop-blur-2xl cursor-pointer shadow-lg h-40 md:h-70"
        >
          <img
            src=""
            alt=""
            class="absolute right-45 mask-r-from-40% top-10 object-contain z-0"
          />

          <div class="p-6 relative">
            <h4 class="text-lg text-end font-bold text-pink-700 mb-2">
              Moldes descargables
            </h4>
            <p class="text-end font-bold text-pink-900">Obten moldes para crear tus propios muñecos.</p>
          </div>
        </div>
      </a>

      <!-- Kits -->
      <a href="/kits" rel="noopener noreferrer" class="block">
        <div
          class="rounded-xl backdrop-blur-2xl cursor-pointer shadow-lg h-40 md:h-70"
        >
          <img
            src=""
            alt=""
            class="absolute right-45 mask-r-from-40% top-10 object-contain z-0"
          />

          <div class="p-6 relative">
            <h4 class="text-lg text-end font-bold text-pink-700 mb-2">Kits</h4>
            <p class="text-end font-bold text-pink-900">Todo lo necesario para que empieces a crear desde casa.</p>
          </div>
        </div>
      </a>

      <!-- Seminarios -->
      <a href="/seminarios" rel="noopener noreferrer" class="block">
        <div
          class="rounded-xl backdrop-blur-2xl cursor-pointer shadow-lg h-40 md:h-70"
        >
          <img
            src=""
            alt=""
            class="absolute right-45 mask-r-from-40% top-10 object-contain z-0"
          />

          <div class="p-6 relative">
            <h4 class="text-lg text-end font-bold text-pink-700 mb-2">
              Seminarios
            </h4>
            <p class="text-end font-bold text-pink-900">Aprende paso a paso con nuestros talleres presenciales y online.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
