---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="md:max-w-7xl max-w-sm m-auto mt-30">
    <div class="border-b p-5 border-gray-300">
      <h2 class="text-center font-bold text-pink-700 text-5xl">Catalogo</h2>
    </div>

    <main></main>
  </section>
</Layout>
