---
// src/layouts/Default.astro
import Navbar from '../components/common/navbar.astro';
import Footer from '../components/common/footer.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/Logos/logo.png" />
    <meta name="description" content="Manualidades el taller de eli - descubre nuestros productos, cursos, moldes, etc." />
    <meta name="author" content="Santiago Pinzon" />
    <title>El taller de Eli</title>
  </head>

  <body class="flex flex-col min-h-screen text-gray-900 bg-pink-50">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
